* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.primary-color {
    color: #4E47FF;
}
.sign-up-btn {
    font-weight: 700;
    background-color: #4E47FF;
    color: #FFFFFF;
    line-height: 150%;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.section-title-color {
    color: #252432;
}
.text-secondary {
    color: rgba(37, 36, 50, 0.5);
}
.text-center {
    text-align: center;
}

header {
    background-image: url("./Assets/Hero-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
}

.nav-logo {
    font-weight: 900;
    font-size: 34px;
    line-height: 150%;
}

.banner {
    max-width: 905px;
    margin: 0 auto;
}

.banner h1 {
    font-weight: 700;
    font-size: 65px;
    margin-top: 158px;
    margin-bottom: 37px;
}

.banner button {
    margin-bottom: 152px;
}

.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 116px;
}
.action-content {
    max-width: 517px;
}
.action-content h4 {
    font-weight: 700;
    font-size: 42px;
    margin-bottom: 23px;
}
.action-content p {
    margin-bottom: 23px;
}
.action img {
    border-radius: 48px;
}