* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.primary-color {
    color: #4E47FF;
}
.sign-up-btn {
    font-weight: 700;
    background-color: #4E47FF;
    color: #FFFFFF;
    line-height: 150%;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.section-title-color {
    color: #252432;
}
.text-secondary {
    color: rgba(37, 36, 50, 0.5);
}
.text-dark {
    color: rgba(0, 0, 0, 0.5);
}
.primary-background-color {
    background-color: rgba(78, 71, 255, 0.1);
}
.text-center {
    text-align: center;
}

header {
    background-image: url("./Assets/Hero-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
}

.nav-logo {
    font-weight: 900;
    font-size: 34px;
    line-height: 150%;
}

.banner {
    max-width: 905px;
    margin: 0 auto;
}

.banner h1 {
    font-weight: 700;
    font-size: 65px;
    margin-top: 158px;
    margin-bottom: 37px;
}

.banner button {
    margin-bottom: 152px;
}

.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 116px;
}
.action-content {
    max-width: 517px;
}
.action-content h4 {
    font-weight: 700;
    font-size: 42px;
    margin-bottom: 23px;
}
.action-content p {
    margin-bottom: 23px;
}
.action img {
    border-radius: 48px;
}

.productive-users {
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 24px;
    margin-top: 116px;
    margin-bottom: 137px;
}
.productive-users-container {
    padding: 50px 142px;
}
.productive-users-container h2 {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 38px;
}
.productive-users-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.productive-users-item h3 {
    font-weight: 700;
    font-size: 80px;
}

.users-feedback {
    max-width: 1200px;
    margin: 0 auto;
}
.users-feedback-items {
    display: flex;
    gap: 20px;
}
.users-feedback-item {
    max-width: 366px;
    background-color: #FFFFFF;
    border-radius: 14px;
    border: 1px solid #F2EDED;
    padding: 24px;
    box-shadow: rgba(242, 237, 237, 1) 0px 1px 4px;
    margin-bottom: 137px;
}
.users-feedback h3 {
    font-weight: 700;
    font-size: 42px;
    margin-bottom: 50px;
}
.rating i {
    color: #FFB805;
    margin-bottom: 24px;
}
.users-feedback-title {
    color: #1E1E1E;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 8px;
}
.users-feedback-description {
    color: #1E1E1E;
    font-size: 20px;
    margin-bottom: 24px;
}
.reviewer {
    display: flex;
    align-items: center;
}
.reviewer-title {
    font-weight: 500;
    font-size: 18px;
    color: #757575;
}
.date {
    color: #B3B3B3;
}